.comment_body {background-color: white; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding-left: 15px; padding-top: 5px; padding-bottom: 5px;} 
.toggleform {color:Aqua; background-color:Lime;} 
.wallkit_form .toggleform { margin:5px 0; padding-left:10px; padding-right:18px; text-align:right; color:Aqua; background-color:Lime; }         