@charset "utf-8";
body  {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	background: #33F url(http://style.gestdown.info/fondNuit.jpg) right fixed;
	margin: 0; /* il est conseillé de mettre à zéro la marge et le remplissage de l'élément body, pour tenir compte des différentes valeurs par défaut des navigateurs */
	padding: 0;
	text-align: left; /* ce paramétrage centre le conteneur dans les navigateurs IE 5.x. Le texte est ensuite aligné à gauche (valeur par défaut) dans le sélecteur #container */
}
.thrColFixHdr #container { 
	width: 90%;  /* paramétrage de la largeur à 20 pixels de moins que le plein écran (800 pixels) pour tenir compte de l'habillage du navigateur et éviter l'apparition d'un ascenseur horizontal */
	background:url(http://style.gestdown.info/repeatNuit.png) repeat;
	margin: 0 auto; /* les marges automatiques (et dotées d'une largeur positive) centrent la page */
	border: 1px solid #000;
	text-align: left; /* ce paramétrage annule le paramètre text-align:center de l'élément body. */
} 
.thrColFixHdr #header { 
	background: #FFF; 
	padding: 0 0px 0 0px;  /* ce remplissage correspond à l'alignement à gauche des éléments des div qui apparaissent en dessous. Si, au lieu de texte, c'est une image qui est insérée dans l'élément #header, il est conseillé de supprimer le remplissage. */
	height:415px;
	background: url(http://style.gestdown.info/banniereJour.png) no-repeat top left;
} 
#menu
{
	padding-top:365px;
}
.thrColFixHdr #header h1 {
	margin: 0; /* la mise à zéro de la marge du dernier élément du div #header permet d'éviter une disparition de la marge (espace inexplicable entre les éléments div). Si l'élément div est entouré d'une bordure, cette précaution n'est pas nécessaire, car la bordure évite également la disparition de la marge */
}
.thrColFixHdr #sidebar1 {
	float: left; /* cet élément est flottant, il faut donc lui attribuer une largeur */
	width: 230px; /* Dans les navigateurs conformes au standard et dans Internet Explorer en mode standard, la largeur réelle de cet élément div est composée de la largeur plus le remplissage et la bordure */
	background:url(http://style.gestdown.info/repeatMenuNuit.png) repeat;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border: 1px solid #000;
}
.thrColFixHdr #mainContent { 
 	margin: 0 2em 0 16em; /* la marge droite peut être indiquée en ems ou en pixels. Elle crée l'espace dans la partie inférieure du côté droit de la page. */ 
	padding: 0 1em 0 1em; /* ce remplissage permet de créer un espace vide à l'intérieur du cadre. */
	text-align:left;
	min-width:480px;

} 
.thrColFixHdr #footer { 
	padding: 0 10px 0 20px; /* ce remplissage correspond à l'alignement à gauche des éléments des div qui apparaissent au-dessus. */
	background:url(http://style.gestdown.info/repeatMenuNuit.png) repeat;
	border-top: 1px solid #000;
} 
.thrColFixHdr #footer p {
	margin: 0; /* la mise à zéro de la marge du premier élément du pied de page permet d'éviter une possible disparition de la marge (espace entre les éléments div) */
	padding: 10px 0; /* l'utilisation d'un remplissage pour cet élément crée un espace, tout comme une marge l'aurait fait, mais en évitant le risque de disparition de la marge */
}
.fltrt { /* cette classe permet de rendre flottant le côté droit d'un élément dans la page. L'élément flottant doit précéder l'élément à côté duquel il doit se trouver dans la page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* cette classe permet de rendre flottant le côté gauche d'un élément dans la page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* cette classe doit être placée pour un élément div ou break et doit être l'élément final avant la balise de fin d'un conteneur qui doit contenir entièrement un élément flottant */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
.comments
{
	color:#03F;
	
}
#chibi1
{
	margin-left:35px;
	margin-bottom:-60px;
	height:150px;
}
#chibi2
{
	margin-left:80px;
	margin-bottom:-80px;
}

#sidebar1 a
{
	color:#309;
}
#sidebar1 a:hover
{
	color: #06C;
	font-style:normal;
	text-decoration:none;
}

.separator, .haut
{
	text-align: left; 
	font-size: 18px; 
	font-weight: bold; 

	margin-left:5px;
	padding-top:23px;
	padding-bottom:60px;
	background:url(http://style.gestdown.info/barredenews.png) no-repeat;
}

.Ctitre
{
	position:absolute;
	text-align: left; 
	font-size: 12px; 
	font-weight: bold;
	padding-top:10px;
	color: #FFF;
	padding-left: 72px;
	text-shadow: #30C 0px 0px 3px;

}
.comment
{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	background:#FFF repeat-y bottom left;
	border: #999 thin  ridge;
	margin-bottom:10px;
	min-height:200px;
	margin-left:5%;
	margin-right:5%;
	padding-left:1%;
	padding-right:1%;
	text-align:left;
}

.imgMenu
{
	margin-top:20px;
	margin-bottom:3px;
}

/*top*/
#topnav {
	height: 50px;
	overflow: hidden;
	position: relative;
	background: url(http://style.gestdown.info/navrepeatNuit.png) repeat-x 0 0;
}

#topnav ul { list-style: none; margin: 0; padding: 0; }

#topnav ul li{
	list-style: none;
	margin: 0;
	padding: 0px;
	line-height: 50px;
	height: 50px;
	float: left;
	display: block;
	background: url(http://style.gestdown.info/dividerNuit.png) no-repeat left 0;
}

#topnav ul li a{
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	padding: 0 25px;
	font-weight: bold;
}

#topnav ul li a:hover,#topnav ul li.current_page_item a{
	background: url(http://style.gestdown.info/overNuit.png) no-repeat 1px 0;
	text-decoration: none;
}
/**
 * ancien design
 */
 p
{
	margin-left:10px;
	margin-bottom:2px;
	margin-top:2px;
	padding-top:2px;
	padding-bottom:2px;
}

.pub
{
	max-width:1600px;
	margin-bottom:40px;
	border:#000 1px solid;
	-moz-border-radius: 25px; -webkit-border-radius: 25px;
	min-width:460px;
}

.gauche {
	background: url(http://style.gestdown.info/fondRepeat.png) repeat-y;
max-width:1600px;
margin-bottom:40px;
border:#000 1px solid;
	-moz-border-radius: 25px; -webkit-border-radius: 25px;
min-width:460px;
padding-left:10px;

}
.droit {

padding-bottom:50px;

}

h2
{
	position:absolute;
	text-align: left; 
	font-size: 18px; 
	font-weight: bold;
	padding-top:5px;
	color: #FFF;
	padding-left: 72px;
	text-shadow: #30C 0px 0px 3px;


}
#synopsis,#episode_info
{
	color:#999;
}


label.info,label.liens
{
	color: #FC0;
	font-weight:bold;
	display: inline;
 	float: left;
	width: 200px;
}
a.news_liens_dl, a.bbcode_url
{
	color:red;
	font-size:15px;
	font-weight:bold;
}
#liens_menu
{
	text-align:center;
}
#liens_menu a
{
	font-size:14px;
	font-weight:bold;
	color:#06F;
	text-decoration:none;
}
label.mort
{
	float:left;
	width:250px;
}
.invisible
{
	display:none;
}
.submit{
     border:none;
     color:#fff;
     background:url('http://style.gestdown.info/fond_bouton.png');
     width:75px;
     height:37px;
}
label.ident
{
	padding-right:40px;
	color: #36F;
	width:100px;
}
#admin_conn
{
	padding-left:10px;
}
#admin_conn a
{color: #06F;text-align: center; text-decoration:underline; cursor:pointer; padding-left:10px; margin-bottom:3px;}
.faux_lien
{color: #06F;text-align: center; text-decoration:underline; cursor:pointer; padding-left:10px; margin-bottom:3px;}
.generate_time
{
	margin-top:-20px;
	text-align:right;
}
.ep_pic {text-align:center; }
.ep_pic img { padding: 15px; border: 1px solid #999; background-color: #000;}
.ep_pic img {
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
}

#class_list a {color:#CCC;text-align: center; text-decoration:underline; cursor:pointer; padding-left:10px; margin-bottom:3px;}
#class_list a.selected {color: #C93; font-weight: bold;text-decoration:none;}