Bienvenue dans la console d'administration de GestDown <?php echo $version; ?>
<br  />
<a href="edit_news.php">Editer la 1ere page</a><br />
<a href="ajout_news.php">Ajouter une news</a><br /><br />

<a href="avancement.php">Avancement</a><br /><br />
		<a href="add_categorie.php">Ajout de Série</a><br>
<a href="suppr_mod_Categorie.php">Suppr/Modif Série</a><br><br />

<a href="add_download.php">Ajout d'Episode</a><br>
<a href="suppr_mod_download.php">Suppr/Modif Episode</a><br><br />

<a href="liens_morts.php"><b>LIENS MORT</b></a><br>
<a href="valider_suggestion.php">Synopsis à Valider</a><br>
<a href="recherche.php"><b>Rechercher</b></a>
		<br />
		</div>